{% load static %}
<!-- ------------------------------footer sub end---------------------------------- -->
<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Abel|Lato|Open+Sans&display=swap" rel="stylesheet">
<style>
  
    /* footer */
#footer-main{
	background: #000;
	color: white;
	font-size: 0.8rem;
	padding: 2.5rem 0;
    font-family: 'Lato', sans-serif;
}

#footer-main a{
	font-size: 14px;
	display: block;
	margin: 0.3rem;
	color: grey;
}

#footer-main a:hover{
	font-weight: bold;
	color: white;
}

#footer-main h6 a{
    color: white;

    
}



#footer-main hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid white;
}

#footer-main img{
	margin-right: 0.6rem;
}
</style>

<footer id="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
            <br>

            <h6 class="mt-3"><a href="">Contact Us</a></h6>
            <p>
              Our dedicated support team is available 24/7 to assist you. Feel free to contact us for any inquiries or assistance. <br> Contact Number: +254704636244
            </p>
           
        </div>
        <div class="col-sm-3">
            <h6 class="mt-3"><a href="">Payment Methods</a></h6>
            <p>We accept various payment methods  to make your shopping expirience convinient and secure</p>
        </div>
        <div class="col-sm-3">
            <h6 class="mt-3"><a href="">Location</a></h6>
            <p>Visit our store at: Gaberone Plaza along Gaberone Road Forth Floor RM A13 (Nairobi CBD)</p>



        </div>
        <div class="col-sm-3">
          <a href="">Voice of Customer</a>
          <a href="">Contacts by Branch</a>
          <a href="">Ethics Reporting</a>
          <a href="">Careers</a>
        </div>
      </div>
    </div>
  </footer>
<!-- ------------------------------footer end---------------------------------- -->

